__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
.Python

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller
build/
dist/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python caches
pip-wheel-metadata/
__pypackages__/

# logs
*.log
